header>h1{
	color: #414239;
	font-style: anton;
	font-size: 4em;/
}*{
	font-family: verdana;
}
div#titulo>h1{
	color: #9e0947;
	font-style: lobster;
	font-size: 1.5em;
}
div#sinopsis>p#info{
text-align: justify;

}
div#sinopsis>h2{
	color: #ce105c;
	font-size: 1em;
}div#reparto>h2{
	color: #ce105c;
	font-size: 1em;
}
section>div{
	display: inline-block;
	text-align: top;

	width: 30%;
}
section{
	border:dotted 1px #d7d8cb;
}
body{
	
 margin:0% 10% 0%;

}
section div li[name="reparto"]{
	list-style-image: url('http://web-toolkit.global.sky.com/2.2.13-rc-v1/_site/static/font-svgs/carousel-play.svg');
}
div>span#imagen img{
	width: 40%

}
img {
    opacity: 1;
    /* For IE8 and earlier */
}

img:hover {
    opacity: .8;
     /* For IE8 and earlier */
}
/**<iframe width="560" height="315" src="https://www.youtube.com/embed/bD7bpG-zDJQ" frameborder="0" allowfullscreen></iframe>*/